@font-face {
    font-family:"baveuse";
    src: url("baveuse.ttf") /* TTF file for CSS3 browsers */
}


html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "baveuse", serif;
	font-size: x-large;
	background-color: #262525;
	color: #accdd9;
}

.banner, .banner-img {
	width: 100%;

}

.wrapper {
	width: 100%;
	margin: 0;
	padding:0;
	min-height: 100%;
	position: relative;
}

.content {
	margin-top: 5%;
	padding-bottom: 6%;	
	
}

.border {
	border-style: solid;
	border-color: #fff;
}

.footer {
	font-size: small;
	padding: 2%; 
	width: 100%;
	background-color: #0f1b3b;	
	border-top: solid;
	border-top-color: #0f1b3b;
	color: #accdd9;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
}